.cart-item__container {
  display: flex;
  align-items: center;
  padding: 0.5em;
  justify-content: space-evenly;
}

.cart-item__image {
  height: 7em;
  width: 12%;
}

.cart-item__name {
  width: 20%;
}

.cart-item__quantity-container {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  align-items: center;
}

.cart-item__quantity-decrease,
.cart-item__quantity-increase {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2em;
}

.cart-item__total-price {
  width: 10%;
}

@media only screen and (max-width: 500px) {
  .cart-item__image {
    height: 5em;
  }

  .cart-item__quantity-container {
    width: 20%;
  }
}
