.navbar {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  border-bottom: 1px solid black;
}

.navbar__content {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar__cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar__cart-icon .navbar__shopping-icon {
  width: 24px;
  height: 24px;
}

.navbar__cart-icon .navbar__item-count {
  position: absolute;
  font-size: 10px;
  font-weight: bold;
  bottom: 12px;
}

a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 810px) {
  .navbar__content {
    width: 25%;
  }
}

@media only screen and (max-width: 500px) {
  .navbar__content {
    width: 40%;
  }
}
